.ticket{
    margin: 20px;
    color: #224385;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 5px 10px #2d62ce;
    width: 60%;
    overflow-wrap: break-word;
    background-color: #f0e3b4;
}
.label{
    background-color: #DAEFFE;
    border-radius: 25%;
    margin-right: 10px;
    margin-bottom: 10px;
}
.labelContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.searchArea{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #abe9cd;
    background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
}
.results{
    color:#d1d5dd;
    font-size:5em;
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
    
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: #abe9cd;
    background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
}
.hideTicketButton{
    border-radius: 20%;
}
.hideContainer{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}
.searchInput{
    width: 200px;
    height: 30px;
    margin: 20px;
    padding: 5px;
    border-radius: 10%;
}
.noResults{
    padding: 400px 0 400px 0;
}

#hideTicketsCounter{
    font-family: 'Courier New', Courier, monospace;
}
@media screen and (min-width: 1000px) {
    .ticket{
        width: 50%;
    }    
}
@media screen and (min-width: 1300px) {
    .ticket{
        width: 40%;
    }    
}